<div class="dashboard" style="padding: 0px 0 0 140px; font-size: 22px; font-weight: 400;">
     <h2 style="font-size: 25px">Welcome back John Doe</h2>
     <p style="font-size: 18px;">
         What do you want to do?
     </p>

     <i class="fa fa-search"></i>
     <div class="row">
         <div class="col-5">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon"> <i-feather name="credit-card"></i-feather>
                  </span>
                </div>
                <button class="form-control"> Pay Invoice </button>
              </div>
         </div>
     </div>

     <div class="row">
        <div class="col-5">
           <div class="input-group mb-3">
               <div class="input-group-prepend">
                 <span class="input-group-text" id="basic-addon"> <i-feather name="grid"></i-feather>
                 </span>
               </div>
               <button class="form-control"> Schedule Payment </button>
             </div>
        </div>
    </div>

  </div>