<div class="app-admin-wrap layout-sidebar-large">
  <!-- <div class="row">
    <div class="col-3"> -->
      <div class="side-content-wrap">
        <app-sidebar-large></app-sidebar-large>
      </div>
    <!-- </div> -->
 
    <!-- <div class="col-9">
     <div class="row">
       <div class="col-12"> -->
        <div
        class="main-content-wrap d-flexs flex-columns"
        [ngClass]="{ 'sidenav-open': navService.sidebarState.sidenavOpen }"
        [perfectScrollbar]="{ suppressScrollX: true }"
      >
        <router-outlet></router-outlet>

       </div>
       <app-footer></app-footer>

     </div>
      <!-- </div>
    </div>
  </div> -->


    <!-- <div class="flex-grow-1"> </div> -->
    <!-- <div class="module-loader" *ngIf="moduleLoading">
      <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
    </div> -->


<!-- <app-search *ngIf="searchService.searchOpen"></app-search> -->
