.accordion {
  width: 100%;
  max-width: 360px;
  margin: auto;
  border-radius: 4px;
  color: #fff;
}

.accordion .menu {
  position: relative;
  padding: 7px 10px;
  border-radius: 0.25rem;
  color: #5867dd;
  border-bottom: 1px solid#ccc;
  cursor: pointer;
  transition: all 0.4s ease;
}

.accordion li:last-child .menu {
  border-bottom: 0;
}

.accordion li.active .menu {
  color: #fff;
  background-color: #5867dd;
}

.submenu {
  height: 0;
  overflow: hidden;
  font-size: 1rem;
  transition: height 0.4s ease;
}

.submenu li {
  border-bottom: 1px solid rgba(#ccc, 0.5);
}

.accordion li:last-child .submenu {
  border-radius: 0 0 4px 4px;
}

.accordion li:last-child .submenu li:last-child {
  border-bottom: 0;
}

.submenu a {
  display: block;
  text-decoration: none;
  border-radius: 0.25rem;
  color: #5867dd;
  padding: 12px;
  padding-left: 0;
  transition: all 0.25s ease-in-out;
}

ul,
li {
  list-style: none;
  padding-inline-start: 7px;
}
