<div class="">
  <div class="breadcrumb">
    <ul>
      <li><a [routerLink]="['/account']">Account</a></li>
    </ul>
  </div>

  <div class="separator-breadcrumb border-top"></div>

  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
        <div class="card-body text-center">
          <i class="i-Financial"></i>
          <div class="content">
            <a [routerLink]="['opened-invoices']" class="text-muted text-18 mt-2 mb-0">Pay Invoices</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
        <div class="card-body text-center">
          <i class="i-Checked-User"></i>
          <div class="content">
            <p class="text-muted text-18 mt-2 mb-0">Add Account or Service</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
        <div class="card-body text-center">
          <i class="i-Administrator"></i>
          <div class="content">
            <a [routerLink]="['schedule-payments']" class="text-muted text-18 mt-2 mb-0">Schedule Payment</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
